*{margin: auto;padding: 0;}
a{text-decoration: none;}
li{list-style: none;}

body{
	width: 100%;
	height: 100%;
	background-image: url(../img/boy/bg-boy01.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: top center;
}
.inner{
	/*完成居中的样式*/
	width: 100%;
	margin: 0 auto;
}
.inner .logo-top{
	padding-top: 25px;
	padding-left: 25px;
	float: left;
}
.logo-top img{
	width: 132px;
	height: 60px;
}
.circle1{
	margin: auto;
    position: absolute;
    top:25px;
    left: 0;
    right: 0;
	width: 75px;
	height: 75px;
	background-color:#363635;
	border-radius: 50%;/*      -moz-border-radius: 50%;      -webkit-border-radius: 50%;*/
	cursor: pointer;
	
	
}
.circle1 .circle2{
	top:11px;
	left:0;
    right: 0;
   bottom: 11px;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: #7cb0d9;
	position: absolute;
	opacity: 0;
	display:block;
	cursor: pointer;
	
}
.circle1 .circle2:hover{
	opacity: 1;
	width: 55px;
	height: 55px;
	animation: scale1 0.5s linear 1; 
}
.inner .logo-top1{
	float: right;
	padding-top: 25px;
	padding-right:25px ;
}
.logo-top1 img{
	width: 216px;
	height: 63px;
}
.inner .logo-top2{
	padding-top: 25px;
	padding-right: 25px;
	float: right;
}
.logo-top2 img{
	width: 216px;
	height: 63px;
}

.right{
	float: right;
	width: 100px;
	padding-right: 24px;
	padding-top: 160px;
}
.right .h1{
	margin-bottom: 19px;
	position: absolute;
	animation: scale 2s linear 1; 
}
.right .h1 img{
	width: 55px;
	height: 53px;
	
}
.right .h1:hover{
	transform: translateY(-20px);;
}
.right .h2{
	margin-top: 70px;
	padding-right: 106px;
	position: absolute;
	animation: scale 2s linear 1; 
	
}
.right .h2 img{
	width: 92px;
	height: 22px;
}
.right .h2:hover{
	transform: translateX(20px);;
}
.right .p1{
	width: 417px;
	height: 60px;
	margin-top: 115px;
	margin-right: 156px;
	background-color: #363636;
	border-radius: 7px;
	text-align:center;
	position: relative;
	padding: 8px 5px 0;
	animation: scale 2s linear 1; 
	transition: 0.5s;
}
.right .p1 p{
	text-align: center;
	color: #7cb0d9;
	font-size: 42px;
}
.right .p1:hover{
	transform: scale(1.2);
}
.right .p1:hover{
	background-color:#7AFEC6;
}
.right .p2{
	width: 460px;
	height: 60px;
	margin-top: 30px;
	margin-right: 156px;
	margin-bottom:60px;
	background-color: #363636;
	border-radius: 7px;
	text-align:center;
	padding: 8px 5px 0;
	animation: scale 2s linear 1; 
	position: relative;
	
}
.right .p2 p{
	color: #7cb0d9;
	font-size: 42px;
	/*transition:all 1s ease;
	text-transform:uppercase;
    cursor: pointer;*/
   transition: all 800ms;
   text-shadow: 1.5px 1.5px 0 #333, 0px 1.5px 0 #333, -1.5px -1.5px 0 #333, -1.5px -1.5px 0 #333, -1.5px 1.5px 0 #333, 1.5px -1.5px 0 #333, 0.77782px 0.77782px 0 #aaaaaa, 1.55563px 1.55563px 0 #aaaaaa, 2.33345px 2.33345px 0 #aaaaaa, 3.11127px 3.11127px 0 #aaaaaa, 3.88909px 3.88909px 0 #aaaaaa, 4.6669px 4.6669px 0 #aaaaaa, 5.44472px 5.44472px 0 #aaaaaa, 6.22254px 6.22254px 0 #aaaaaa, 7.00036px 7.00036px 0 #aaaaaa, 7.77817px 7.77817px 0 #aaaaaa;
}
.right .p2 p:hover {
  transform: translate(9px, 9px);
  text-shadow: 1.5px 1.5px 0 #cac6c5, -1.5px -1.5px 0 #cac6c5, -1.5px -1.5px 0 #cac6c5, -1.5px 1.5px 0 #cac6c5, 1.5px -1.5px 0 #cac6c5;
}
.right .text{
	width: 530px;
	padding: 12px 20px 9px;
	margin-right: 192px;
	background: #fff;
	position: relative;
	transition: all 2s;
	animation: scale 2s linear 1; 
}
.right .text article{
	color: #666563;
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
}
.right .text:hover{
	background: #7CB0D9;
	border-radius: 40%;
}
@keyframes scale{
	0%{transform:scale(0);}
	25%{transform: scale(0.4);}
	50%{transform:scale(0.8);}
	75%{transform: scale(1.2);}
	100%{transform:scale(1);}
}
@keyframes scale1{
	0%{transform:scale(1.2);}
	50%{transform: scale(0.9);}
	80%{transform:scale(0.8);}
	100%{transform:scale(0.6);}
}
/*轮播图*/
#box{
	width: 700px;
	height: 500px;
	position: absolute;
	margin-top: 160px;
	margin-left: 120px;
	margin-right: 120px;
}
#box ul li{
	width: 700px;
	height:500px;
	position: absolute;
	list-style: none;
	/*隐藏全部li*/
	display: none;
}
#box ul li img{
	width: 700px;
	height: 500px;
}
.btn{
	width: 30px;
	height: 50px;
	/*内部文字水平居中*/
	text-align: center;
	/*行高,当文字只有一行是为垂直居中*/
	line-height: 50px;
	background: black;
	/*元素内部文字颜色*/
	color: white;
	opacity: 0.6;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	/*鼠标标签上去时,箭头的样式*/
	cursor: pointer;
}
#right{
	right: 0;
}
.circles{
	width: 100%;
	height: 50px;
	bottom: 0;
	position: absolute;
}
.circles span{
	/*块级元素*/
	display: block;
	width: 10px;
	height: 10px;
	background: white;
	/*圆角属性,50%为圆*/
	border-radius: 50%;
	float: left;
	margin-left: 30px;
}
/*当前标签颜色*/
.current{
	background: red!important;
}
